* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0f375e;
}

.access{
    position: absolute;
    top: -40px;
    left: 20px;
    background: #333;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    z-index: 100;
}
.access[href ^= '#']:focus{
    top:10px
}

header{
    margin:0;
}

header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

header img{
    float: left;
    width: 10%;
}

header nav ul{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3% 20% ;
    font-size: 120%;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: white;
    text-decoration-thickness: 10%;
    text-underline-offset: 15%;
    transition: all 0.3s ease-in-out;
}

header ul li a:hover{
    color:orange;
}

.M-Style{
    color: #ffa14a !important;
}

.M-Title{
    color: white;
    font-size: 800%;
    text-align: center;
    margin-top: 5%;
}

main > p{
    color: lightcyan;
    text-align: center;
    font-size: 150%;
    margin-bottom: 15%;
}

.trending {
    text-align: center;
    background: #0f375e;
    padding: 15px;
    color: lightcyan;
    border-radius: 10px;
    margin: 20px 0;
}

main section article{
    padding-top: 10%;
}

footer{
    text-align: center;
    color: lightcyan;
}

.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    gap:5%;
    justify-content: center;
    align-items: flex-end;
}

.grid img{
    width: 200px;
    height: 225px;
    object-fit: contain;
    background-color: #0f375e;
}

.grid p{
    color:lightcyan;
    text-align: center;
}

body {
    font-family: Arial, sans-serif; margin: 20px; 
}

.movie-details {
   max-width: 800px;
   margin: auto; 
}

.movie-info {
   display: flex;
   align-items: center;
   gap: 20px;
   color: lightcyan;
}

.movie-poster {
   width: 200px;
}

iframe {
   width: 100%;
   height: 315px;
   margin-top: 20px;
}

.movie-trailer{
    margin-bottom: 10%;
    color: lightcyan;
}
